* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
}

.parent {
  --main-color: rgb(231, 236, 244);
  background-color: var(--main-color);
}